.DS_Store
venv
out
*.env
checker.pids
chainspacecore-*
simplelog_client
workspace.xml
tasks.xml
.idea
*.iml
*.sqlite
*.process.id
chainspacecore/.swo
chainspacecore/.swp
chainspacemeasurements/build/
chainspacemeasurements/dist/
chainspaceapi/build
chainspaceapi/dist
.vscode
.ipynb_checkpoints
# Logs
checker.*.log.*
*.log
**/screenlog.0
# Runtime configs
chainspacecore/ChainSpaceConfig/shardConfig.txt
chainspacecore/ChainSpaceClientConfig/config.txt
# Stats
stats/*
!stats/.gitkeep
!stats/plot.ipynb