.DS_Store
venv
out
*.env
checker.*.log.*
checker.pids
chainspacecore-*
simplelog_client
contrib/core-tools/screenlog.0
contrib/screenlog.0
workspace.xml
tasks.xml
.idea
*.iml
*.sqlite
*.process.id
chainspacecore/.swo
chainspacecore/.swp
chainspacemeasurements/build/
chainspacemeasurements/dist/
chainspaceapi/build
chainspaceapi/dist
.vscode
.ipynb_checkpoints
*.log
# Runtime configs
chainspacecore/ChainSpaceConfig/shardConfig.txt
chainspacecore/ChainSpaceClientConfig/config.txt
# Stats
stats/*
!stats/.gitkeep
!stats/plot.ipynb